
.sidebar {
    padding: 4vh;
}

 .delete, .edit{

    margin-top: 6vh;
    margin-bottom: 14vh;

    }

/* TABLA */

.tabla img:hover {
opacity: 0.8; /* disminuir la opacidad de la imagen al pasar el ratón por encima */
transform: scale(1.05); /* aumentar ligeramente el tamaño de la imagen */
transition: all 0.3s ease-in-out; /* crear una transición suave para los efectos */
}

.tabla {
margin: 60px auto;
max-width: 90%;
border: 1px solid #ccc;
border-collapse: collapse;
table-layout: fixed;
color: #6a6f8c;
overflow-y: scroll;
border-radius: 5px;
}


.tabla caption {
font-size: 28px;
text-transform: uppercase;
font-weight: bold;
margin: 8px 0px;
}

.tabla tr {
background-color: #f8f8f8;
border: 1px solid #ddd;

}

.tabla th, .tabla td {
font-size: 1.125rem;
padding: 8px;
text-align: center;
}

.tabla thead th{
text-transform: uppercase;
background-color: #ddd;
}

.tabla img {
width: 50%;
}

.contenedor-tabla {
min-height: 800px;
/* overflow-y: scroll; */
}



@media (max-width:900px){

.tabla {
border: 0px;
margin-top: 25px;
}
.tabla caption {
font-size: 22px;
}
.tabla thead {
display: none;
}
.tabla tr {
margin-bottom: 8px;
border-bottom: 4px solid rgb(221, 221, 221);
display: block;
}
.tabla th, .tabla td {
font-size: 18px;
}
.tabla td {
display: block;
border-bottom: 1px solid #ddd;
text-align: right;
}
.tabla td:last-child {
border-bottom: 0px;
}
.tabla td::before {
content: attr(data-label);
font-weight: bold;
text-transform: uppercase;
float: left;
}
}


/* Estilo para botón azul */
.boton-azul {
background-color: blue;
color: white;
}

/* Estilo para botón rojo */
.boton-rojo {
background-color: red;
color: white;
}

.crear-actividad{
    margin-left: 4vw;
}

/* Paginación  */

.contenedor-tabla nav {
    background: transparent;
}

.active>.page-link,
.page-link.active {

    background-color: #5c7c64;
    ;
    border-color: #5c7c64;
    ;
    color: white
}

.page-link {
    color: #5c7c64;
}

.pagination{
    margin-left: 4vw;
margin-bottom: 6vh;
}
