.sidebar {
padding: 4vh;
}

.badge-warning {
    background-color: #ffcc00; /* Color de fondo */
    color: #000000; /* Color del texto */
    /* Otros estilos como bordes redondeados, etc. */
}

h2{
    /* color: #550d0e; */
    color: #fff;
    background-color: #536b59;
    padding: 10px;
    border-radius: 5px;

}

legend{
    color: #536b59;
}

.delete, .edit{

margin-top: 6vh;
margin-bottom: 14vh;

}

.editar-horario {
    min-height: 700px;
}

.editar-horario h2{
    margin-top: 4vh;
}

/* TABLA */

.tabla img:hover {
opacity: 0.8;
transform: scale(1.05);
transition: all 0.3s ease-in-out;
}

.tabla {
margin: 60px auto;
max-width: 90%;
border: 1px solid #ccc;
border-collapse: collapse;
table-layout: fixed;
color: #6a6f8c;
overflow-y: scroll;
border-radius: 5px;
}


.tabla caption {
font-size: 28px;
text-transform: uppercase;
font-weight: bold;
margin: 8px 0px;
}

.tabla tr {
background-color: #f8f8f8;
border: 1px solid #ddd;

}

.tabla th, .tabla td {
font-size: 1.125rem;
padding: 8px;
text-align: center;
}

.tabla thead th{
text-transform: uppercase;
background-color: #ddd;
}

.tabla img {
width: 50%;
}

.contenedor-tabla {
min-height: 600px;
/* overflow-y: scroll; */
}

.header-text {
    color: inherit; /* Hereda el color del texto del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
    cursor: pointer; /* cambia el cursor para indicar que es clickeable */
}

.header-text:hover {
    text-decoration: underline;
}



@media (max-width:900px){

.tabla {
border: 0px;
margin-top: 25px;
}
.tabla caption {
font-size: 22px;
}
.tabla thead {
display: none;
}
.tabla tr {
margin-bottom: 8px;
border-bottom: 4px solid rgb(221, 221, 221);
display: block;
}
.tabla th, .tabla td {
font-size: 18px;
}
.tabla td {
display: block;
border-bottom: 1px solid #ddd;
text-align: right;
}
.tabla td:last-child {
border-bottom: 0px;
}
.tabla td::before {
content: attr(data-label);
font-weight: bold;
text-transform: uppercase;
float: left;
}
}


/* Estilo para botón azul */
.boton-azul {
background-color: blue;
color: white;
}

/* Estilo para botón rojo */
.boton-rojo {
background-color: red;
color: white;
}

.crear-actividad{
margin-left: 4vw;
}

/* Paginación */


.contenedor-tabla nav, .table-responsive nav {
background: transparent;
}
.pagination {
justify-content: center; /
}

.active>.page-link,
.page-link.active {

background-color: #5c7c64;
;
border-color: #5c7c64;
;
color: white
}

.page-link {
color: #5c7c64;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #007bff;
}

.badge-pill {
    background-color: #28a745;
}

.icono {
    font-size: 24px;
    margin-right: 10px;
}
main {
min-height: 80vh;
}


/* Gráfico */
 .card-grafico {
        margin-bottom: 8vh;
    }
