
.detalles-reserva, .formulario-reserva {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #6fa78a; /* Borde lateral colorido */
    margin-bottom: 5vh;
    margin-top: 3vh;
}

.formulario-reserva label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #6fa78a;
}

.formulario-reserva input, .formulario-reserva select, .formulario-reserva textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: 2px solid #6fa78a; /* Bordes azules */
}

.btn-primary {
    background-color: #4c606d;
    border-color: #4c606d;
    color: white;
}

.btn-primary:hover {
    background-color: #4c606d;
    border-color: #4c606d;
}

#alertas {
    margin-bottom: 20px;
}



.detalles-reserva .info-reserva .etiqueta {
    font-weight: bold;
    margin-right: 10px;
    color: #5D4037; /* Color oscuro para destacar */
}

.detalles-reserva .info-reserva .valor {
    color: #757575; /* Color más suave para los valores */
}

.detalles-reserva .info-reserva > div {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.aforo{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ff5722;
    padding: 5px;
    border-radius: 5px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
